body {
    margin: 0;
}

header {
    margin: 20px;
}
header nav {
    height: 40px;
    background-color: aquamarine;
    width: 500px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: stretch;
    padding: 3px;
}

header nav div {
    background-color: aliceblue;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 3px;
    align-items: center;
    display: flex;
    margin: 3px;
}

/* MAIN */
#leftside {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: lightgray;
    z-index: -1;
}

#rightside {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: lightblue;
    z-index: -1;
}

#middletext {
    position: absolute;
    top: 50%;
    left: 50%;
}

#middlecont {
    position: relative;
    width: 200px;
    height: 40px;
    margin-top: -20px;
    margin-left: -100px;
    text-align: center;
    background-color: gray;
}

#sociallinks {
    position: absolute;
    left: 10%;
    bottom: 10%;
    width: 80px;
    height: 80px;
    background-color: chocolate;
    border-radius: 40px;
    transition: width 1.5s ease-in-out;
    display: flex;
    align-items: flex-start;
    z-index: 10;
}

#sociallinks div {
    border-radius: 100%;
    background-color: whitesmoke;
    display: none;
    transition: display 1s 0.5s;
}

/* Footer */
footer nav {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 20px;
    background-color: rgba(125, 125, 124, 124);
}


footer nav a {
    margin: 15px;
    text-decoration-thickness: 5px;
    text-decoration-color: gray;
    text-underline-offset: 8px;
    color: aquamarine;
    transition: text-decoration-color 0.5s ease-out;
}

footer nav a:hover {
    text-decoration-color: aquamarine;
}