body {
    margin: 0;
}

header {
    margin: 20px;
}
header nav {
    height: 40px;
    /*width: 500px;*/
    width: max-content;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: stretch;
    padding: 3px;
}

header nav div {
    background-color: lightslategrey;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 3px;
    align-items: center;
    display: flex;
    margin: 3px;
}

header a {
    color: aquamarine;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


@keyframes blink {
    0% {
      opacity: .2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: .2;
    }
}

.moretocome i {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    font-size: larger;
}

.moretocome i:nth-child(2) {
    animation-delay: .2s;
}

.moretocome i:nth-child(3) {
    animation-delay: .4s;
}

/* MAIN */
#leftside {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #ddf2f2;
    z-index: -1;
}

#rightside {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #d5e8ce;
    z-index: -1;
}

#middletext {
    position: absolute;
    top: 50%;
    left: 50%;
}

#middlecont {
    padding-top: 10px;
    border-radius: 3px;
    position: relative;
    width: 200px;
    height: 60px;
    margin-top: -30px;
    margin-left: -100px;
    text-align: center;
    background-color: #effffb;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#middlecont span {
    vertical-align: middle;
    display: inline;
}

#sociallinks {
    position: absolute;
    left: 10%;
    bottom: 10%;
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 40px;
    transition: width 1.5s ease-in-out, background-color 1.5s ease-in-out; 
    display: flex;
    align-items: flex-start;
    z-index: 10;
    background-image: url("./media/share-android.svg");
    background-size: 56px auto;
    background-position: 8px;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: space-around;
    background-color: aquamarine;
}

#sociallinks div {
    border-radius: 100%;
    display: none;
    transition: display 1s 0.5s;
}

#sociallinks div img,svg {
    width: 30px;
}

/* Footer */
footer nav {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 20px;
    background-color: rgba(125, 125, 124, 124);
}


footer nav a {
    margin: 15px;
    text-decoration-thickness: 5px;
    text-decoration-color: gray;
    text-underline-offset: 8px;
    color: aquamarine;
    transition: text-decoration-color 0.5s ease-out;
}

footer nav a:hover {
    text-decoration-color: aquamarine;
}